/*Page style*/

 img {
   max-width: 100%;
}

body {
    background-color: #001a33;
    border-style: hidden;
    padding: 20px;
}

div {
	center;
	margin: 2rem 0;

}

div.row {
	margin: auto;
    center;
}

div.map {
	margin-left:auto; 
    margin-right:auto;
    vertical-align:center;
}

h2 {
    color: white;
    text-align: center;
    padding-top:25px;
}

h3 {
    color: white;
    text-align: center;
}


p {
    color: white;
    text-align: center;
}


/*Reservation section*/
form {
	color: white;
}


label {
	color: white;
    text-align:left;
    max-width: 50%:
}

label.dropdown-menu {
    color: white;
    text-align:left;
    max-width: 50%:;

}


/*Existing reservation*/
th {
    center;
    color: white;
    white-space: 2%;
    text-align: left;
    table-align: center;
    padding: auto;
}

th, td {
    border-bottom: 1px solid #ddd;
}

table {
    margin-left:auto; 
    margin-right:auto;
    width:97%;
  }

table.reservations {
    center;
    margin-left:auto; 
    margin-right:auto;
  }

ul.reservations    {
    center;
 }

div.form-group {
    text-align: left;
    table-align: center;
}

p.reservation {
    text-align: center;
    margin: auto;

}



 /*Review section*/
 img.thumbnail {
 	width:50px;
 	height:50px;
 	max-width: 50px;
 	max-height: 50px;
 }

h6 {
	max-width: 100%;
	margin: .4rem 0 1.2rem 0;

}


