/*Page style*/

 img {
   max-width: 100%;
}

body {
    background-color: #001a33;
    border-style: hidden;
}

div {
	center;
	margin: 2rem 0;

}

div.row {
	center;
}

div.map {
	margin-left:auto; 
    margin-right:auto;
    vertical-align:center;
}

h2 {
    color: white;
    text-align: center;
    padding-top:25px;
}

h3 {
    color: white;
    text-align: center;
    padding-top:25px;
}

p {
    color: white;
    text-align: center;
}


/*Reservation section*/
form {
	color: white;
}
label {
	color: white;
}

/*Existing reservation*/
th {
    text-align: left;
    table-align: center;
    padding: auto;
}

th, td {
    border-bottom: 1px solid #ddd;
}

 table.center {
    margin-left:auto; 
    margin-right:auto;
  }


 /*Review section*/
 img.thumbnail {
 	width:50px;
 	height:50px;
 	max-width: 50px;
 	max-height: 50px;
 }

h6 {
	max-width: 100%;
	margin: .4rem 0 1.2rem 0;

}


