body {
    background-color: #001a33;
    border-style: hidden;
}

div {
	center;
}

div.row {
	center;
}

h2 {
    color: white;
    text-align: center;
    padding-top:25px;
}

h3 {
    color: white;
    text-align: center;
    padding-top:25px;
}

p {
    color: white;
    text-align: center;
}


form {
	color: white;
}
label {
	color: white;
}

th {
    text-align: left;
    table-align:center;
    padding-left: 50px;
}

th, td {
    border-bottom: 1px solid #ddd;
}

 table.center {
    margin-left:auto; 
    margin-right:auto;
  }